<div class="flex questions-list-con">
  <div class="main-con">
    <h1 style="text-align: left; font-size: 1.8rem" class="current-place">Teacher Dashboard</h1>
    <div class="table-con">
      <div style="width: 100%">
        <p class="table-name">Question</p>
      </div>
      <hr/>
      <div class="flex space-between">
        <div class="flex align-center" style="gap: 0.4rem">

            <mat-form-field appearance="fill">
              <mat-label>Per page</mat-label>
              <mat-select [value]="pageSize" (selectionChange)="changePerPage($event.value)">
                <mat-option *ngFor="let number of perPage" [value]="number" >
                  {{ number }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

         <form (ngSubmit)="searchForQuestionsByKeyword()">
           <div>
             <div class="flex align-center">

               <mat-form-field appearance="outline" color="primary">
                 <mat-label>Search: </mat-label>
                 <input matInput placeholder="Search for questions..." name="keyword" [(ngModel)]="keyword"/>
                 <button matSuffix type="submit">
                   <mat-icon  color="primary" matSuffix>search</mat-icon>
                 </button>
               </mat-form-field>

             </div>
           </div>
         </form>
      </div>

      <p class="alert alert-warning" *ngIf="questions.length === 0">No questions there.</p>
      <table mat-table [dataSource]="questions" class="mat-elevation-z8" style="width: 100%" *ngIf="questions.length > 0">
        <ng-container matColumnDef="content">
          <th mat-header-cell *matHeaderCellDef> Question Content </th>
          <td mat-cell *matCellDef="let question"> {{question?.content}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="subjectName">
          <th mat-header-cell *matHeaderCellDef> Question Subject </th>
          <td mat-cell *matCellDef="let question"> {{question?.subjectName}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef> Update </th>
          <td mat-cell *matCellDef="let question">
            <mat-icon [routerLink]="['/home', 'teacher', 'question', question.id]" color="primary" class="update-icon">build</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let question">
            <mat-icon (click)="onDeleting(question?.id)" class="delete-icon" color="warn">delete</mat-icon>
          </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <div class="flex space-between" *ngIf="questions.length > 0">
        <p>Showing {{ pageNumber }} of {{ totalPages }} pages ({{ pageSize}} per page)</p>
        <ngb-pagination
          [collectionSize]="totalElements"
          [(page)]="pageNumber"
          [pageSize]="pageSize"
          [boundaryLinks]="true"
          (pageChange)="loadData()">
        </ngb-pagination>
      </div>


    </div>
  </div>
</div>
