.questions-list-con {
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
 mat-form-field {
   display: flex;
 }

 .main-con {
   width: 90%;
 }


 .current-place {
   color: #596164;
 }


hr {
  margin-bottom: 1.8rem;
}


ngb-pagination ::ng-deep ul > li:not(.active) > a {
  background-color: #343a40;
}

ngb-pagination ::ng-deep ul > li.active > a {
  background-color: #343a40 !important;
  color: #fff !important;
  border: #343a40 solid 1px !important;

}

ngb-pagination ::ng-deep ul > li.active > a ng-s{ }

ngb-pagination ::ng-deep ul > li.active > a span {
  display: none;
}

ngb-pagination ::ng-deep ul > li.page-link > a  {
  color: #fff !important;
}

/deep/ .pagination .page-link {
  border-top-style: none !important;
  border-bottom-style: none !important;
  background-color: #f6f6f6 !important;
  color: #343a40 !important;
}

mat-form-field button {
  background: none;
  border: none;
}

button {
  background-color: #f3f3f3;
  color: #343a40;
  padding: 0.2rem 1.2rem;
  border-radius: 2rem;
  border: solid 1px #343a40;
  transition: all 0.2s linear;
  cursor: pointer;
}

button:hover {
  background-color: #343a40;
  color: #f3f3f3;
  transition: all 0.2s linear;
}
