@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Dancing+Script:wght@500&family=Inter:wght@200;300;400&family=Montserrat:wght@200;300&family=Open+Sans&family=Oswald:wght@200;500&family=Playfair+Display&family=Roboto+Mono:ital,wght@1,200;1,400&family=Rubik:wght@300;400;500&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-start {
  align-items: flex-start;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

html {
  font-size: 16px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button:focus {outline:0 !important;}

.action-main-button {
  width: 80%;
  background-color: #343a40;
  border-radius: 2rem;
  color: #fff;
  border: none;
  padding: 0.8rem ;
  font-size: 1rem;
  transition: all 0.2s linear;
}

.action-main-button:hover {
  background-color: #212529;
  transition: all 0.2s linear;
}

.con {
  min-height: 100vh;
  background: linear-gradient(to right, #868f96 0%, #596164 100%);
}

.link {
  cursor: pointer;
  transition: all 0.5s linear;
}

.link:hover {
  text-decoration: underline;
}

.dashboard-con {
  width: 100%;
}

hr { display: block; height: 1px;
  border: 0; border-top: 1px solid #ccc;
  margin: 1em 0; padding: 0; }

mat-sidenav-container {
  height: 100vh;
}

.sidenav, mat-sidenav-content {
  padding: 1.8rem 2.4rem;
}

.sidenav {
  background-color: #343a40;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 2.4rem !important;
  color: #fff;
}

 .activity-name, .mat-icon{
  color: #fff;
  margin: 0 !important;
}

 mat-sidenav-content {
   padding: 0 !important;
 }
